@import "./components/header";
@import './components/mixins';
@import './components/variables';

.todo-form-container {
    input {
        @include form-input;
    }
    
}
.todo-filter-status {
    span {
        @include filer-span;
    }
    span:hover {
        cursor: pointer;
    }
    .active {
        border: 1px solid var(--kmin-color-1);
    }
}
.todo-filter-count {
    color: #777;
    font-weight: 300;
}
.todo-list-container {
    .todo-item-container {
        @include item-container;
    }
    .todo-item-container:hover .todo-item-options {
        visibility: visible;
    }

    .todo-item-container:not(:last-child) {
        border-bottom: 1px solid #ededed;
    }
}
.todo-item-toggle {
    @include item-toggle;
    img {
        max-width: 100%;
    }
}
.todo-item-content {
    @include item-content;
}
.todo-item-content.completed {
    color: #d9d9d9;
    text-decoration : line-through;
}
.todo-item-options {
    @include item-option;
    .icon-btn {
        @include icon-btn;
        img {
            max-width: 100%;
        }
    }
}